.footer-container{
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 24px;
    box-sizing: border-box;
}

.footer-made-with{
    margin-top: 16px;
    font-size: 12px;
    align-self: center;
}

.footer-podwalker-container a{
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
}

.footer-podwalker-container span{
    color: white;
    font-weight: 400;
}

.footer-podwalker-logo{
    padding: 4px 8px;
    background-color: #007bff;
    border-radius: 3px;
    margin-right: 8px;
}