
.header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 16px;
    background-color: rgba(31, 27, 27, 0.894);
    color: white;
    margin: 0;
    height: 50px;
}

.header-list li {
    padding: 16px;
}

.right-menu {
    display: flex;
    flex-direction: row;
}

.right-menu-posts:hover {
    cursor: pointer;
}

.header-list a {
    text-decoration: none;
    color: white;
}

.header-list a:hover {
    cursor: pointer;
    color: rgb(196, 196, 196);
}

.left-menu{
    display: flex;
}
