.header-container{
}

.header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    background-color: rgb(31, 27, 27);
    color: white;
    margin: 0;
}

.header-list li {
    padding: 16px;
}

.right-menu {
    display: flex;
    flex-direction: row;
}

.right-menu-posts:hover {
    cursor: pointer;
}

.header-list a {
    text-decoration: none;
    color: white;
}