.blogpost-preview-container{
    display: flex;
    margin: 24px;
    padding: 16px;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    cursor: pointer;
    height: 150px;
}

.blogpost-preview-album-art{
    width: 100px;
}

.blogpost-preview-album-art-container{
    position: relative;
    width: 150px;
}

.blogpost-preview-album-art:nth-child(2){
    position: absolute;
    top: 50px;
    left: 50px;
}

.blogpost-preview-container span{
    background: red;
    padding: 3px 4px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.blogpost-preview-rank-container{
    border-bottom: 1px solid black;
    width: fit-content;
    padding: 0 0 8px 0;
}

.blogpost-preview-details-container{
    padding: 0 0 0 16px;
}

.blogpost-preview-details-title{
    padding: 16px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}