.home-main-content-container{
    flex: 3;
    width: 100%;
}

.home-sidebar-container{
    flex: 1;
}

.home-title-latest{
    font-size: 24px;
    margin: 0 24px;
    border-bottom: 2px solid red;
    width: fit-content;
    padding-top: 12px;
}

@media (max-width:600px){
    .home-sidebar-container{
        flex: 0
    }
    
    .home-main-content-container{
        flex: 1
    }
}