.admin-action-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 16px;
    margin-top: 16px;
}

.blog-detail-container {
    display: flex;
    margin: 24px;
    padding: 16px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;

    height: fit-content;
}

.blog-detail-header-container {
    display: flex;
    justify-content: space-between;
}

.blog-detail-image-container {
    display: flex;
}

.blog-detail-image {
    object-fit: cover;
    width: 500px;
    height: 500px;
}

.blog-detail-album-art {
    height: 100px;
}

.blog-detail-body p,
.blog-detail-body h2 {
    margin: 0;
}

.detail-page-container{
    flex: 3
}