.admin-action-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 16px;
    margin-top: 16px;
}

.blog-detail-container {
    display: flex;
    /* margin: 24px; */
    /* padding: 16px; */
    flex-direction: column;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background: white; */
    /* align-items: center; */
    height: fit-content;
    text-align: justify;
    line-height: 1.75rem;
}

.blog-detail-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.blog-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-detail-header-container {
    display: flex;
    justify-content: space-between;
}

.blog-detail-title{
    text-align: center;
    line-height: 1.5;
}

.blog-detail-hero-caption {
    margin-left: 8px;
    font-size: 9pt;
    font-style: italic;
}

.blog-detail-album-details {
    display: flex;
    flex-direction: row;
    /* align-self: flex-start; */
    /* border: 2px solid red; */
    margin: 16px 0;
}

.blog-detail-album-details-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    font-size: 10pt;
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 300px;
}

.blog-detail-album-art-details-info-container {
    line-height: 1.3;
}

.blog-detail-publish-date {
    font-weight: bold;
    margin-bottom: 32px;
}

.blog-detail-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.blog-detail-image {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}

.blog-detail-album-art {
    width: 200px;
}

.blog-detail-body p,
.blog-detail-body h2 {
    margin: 0;
}

.detail-page-container {
    font-size: 1.2em;
    flex: 3
}

.blog-detail-left {
    flex: 1;
}

.blog-detail-center {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.blog-detail-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

hr {
    width: 100%;
}

.blog-detail-album-art-title {
    color: yellow;
    font-size: 14pt;
}

.blog-detail-album-art-artist {
    font-size: 10pt;
}

.blog-detail-woulda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(151, 4, 4);
    color: #ffffffd1;
    padding: 0 16px 100px 16px;
    margin-top: 50px;
}

.blog-detail-woulda-container h1 {
    margin-bottom: 0;
}

.blog-detail-woulda-details-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog-detail-woulda-details {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    padding: 0 0 20px 0;
}

.blog-detail-map-details-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    color: white;
    line-height: 1.2rem;
    padding: 5px;
}

.blog-detail-map-container {
    position: relative;
    padding: 0 16px;
}

.blog-detail-album-rank {
    align-self: flex-start;
    background: red;
    padding: 6px 8px;
    color: white;
    font-weight: bold;
    font-size: 18pt;
}

.blog-detail-map {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 800px) {
    .blog-detail-content {
        flex-direction: column;
    }

    .blog-detail-woulda-details-container {
        flex-direction: column;
        align-items: center;
    }

    .blog-detail-album-art {
        width: 100px;
    }

    .blog-detail-album-details-details {
        width: 100%;
    }

    .blog-detail-left{
        display: none;
    }

    .blog-detail-map {
        margin-top: 40px;
        max-width: 100%;
        
    }
}