.admin-main-header{
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.dashboard-header-right-container{
    display: flex;
}

.dashboard-content{
    display: flex;
    flex-direction: row;
}

.dashboard-content-left, .dashboard-content-right{
    flex: .25;
}

@media (max-width: 800px) {
    .dashboard-content-left, .dashboard-content-right{
        display: none;
    }
    
}