.sub-header-container {
  display: flex;
  flex-direction: row;
  background-color: #F9F9F9;
  padding-bottom: 32px;
}

html,
body,
#root,
.App {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}